<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netBinding" maxBufferSize="655360" maxReceivedMessageSize="655360">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="524288"
            maxBytesPerRead="524288" maxNameTableCharCount="524288" />
        </binding>
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="mexBinding" />
      </mexTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="LoggingServiceLibrary.ServiceLibraryBehavior"
        name="LoggingServiceLibrary.LoggingService">
        <endpoint address="log" binding="netTcpBinding" bindingConfiguration="netBinding"
          name="Log" contract="LoggingServiceLibrary.ILoggingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="log/mex" binding="mexTcpBinding" bindingConfiguration="mexBinding"
          name="mex" bindingName="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9500/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoggingServiceLibrary.ServiceLibraryBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
