<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <mexTcpBinding>
        <binding name="NewBinding0" />
      </mexTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceLibrary.ServiceLibraryBehavior" name="ServiceLibrary.ImageService">
        <endpoint address="test" binding="netTcpBinding" bindingConfiguration="" name="Test" contract="ServiceLibrary.IImageService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="test/mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" bindingName="NewBinding0" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9500/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceLibrary.ServiceLibraryBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
