<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="Log" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9500/log" binding="netTcpBinding"
                bindingConfiguration="Log" contract="LoggingService.ILoggingService"
                name="Log">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>